# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# Gradle
.gradle
.settings
.project
**/build/**
**/bin/**

# Compiled source #
*.class
*.exe
